.navbar-main {
    height: 3rem;
    width: 100%;
    padding-top: 1rem;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(130, 130, 130, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    background: url(../../images/background-main.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


    .nav-links {
        width: 50%;
        height: 100%;
        display: flex;
        top: 1rem;
        flex-direction: row;
        justify-content: space-around;

        .nav-link {
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            font-weight: bolder;
            color: white;
            margin-top: 1rem;
            font-family: Din pro;
        }
    }

    .logo {
        width: 25%;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo-text {
            background-color:inherit ;
            font-size: 3rem;
            padding-left: 2rem;
            font-weight: bold;
            color: white;
        }
    }
}