.navbar-main {
    height: 4rem;
    width: 100%;
    padding-top: 1rem;
    // position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-links {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .nav-link {
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            font-weight: bolder;
            color: white;
            font-family: Din pro;
        }
    }

    .logo {
        width: 25%;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo-text {
            background-color:inherit ;
            font-size: 3rem;
            padding-left: 2rem;
            font-weight: bold;
            color: white;
        }
    }
}